<section id="features" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-6 col-sm-6">
        <!--
	    <hr class="section-heading-spacer">
            <div class="clearfix"></div>-->
	<div class="illustration"> <img src="/img/model-training.svg" width="170px"></div>
        <h3 class="section-heading">Train models</h3>
        <div class="lead">Organisations cannot always share their data due to governance and confidentiality.
          Therefore large amounts of data are locked inside organisations, without any possibility for data scientists
          to extract knowledge and value.
	  <br /><br />

	  Fitchain makes it possible to analyse data that are otherwise locked in the organisation, keeping it within the
    organisation's infrastructure.
	</div>
      </div>

      <div class="col-lg-6 col-sm-6">
        <!-- <hr class="section-heading-spacer">
             <div class="clearfix"></div>-->
	<div class="illustration"> <img src="/img/data-monetize.svg" width="170px"></div>
        <h3 class="section-heading">Monetize data </h3>
        <div class="lead">Organisations who allow data scientists to train their models, usually have to reveal their
          data together with their industrial secrets. An ideal process consists in making data available while keeping
          it private, and exchange it for models, fiat or cryptocurrency.
	  <br /> <br />
	Fitchain facilitates the process of data sharing without disclosing any secret.</div>
      </div>
      <!--
      <div class="col-lg-6 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="img/services/{{ post.img }}" alt="">
      </div>
      -->

    </div>
  </div>


  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-6 col-sm-6">
        <!--
	    <hr class="section-heading-spacer">
            <div class="clearfix"></div>-->
	<div class="illustration"> <img src="/img/model-monetize.svg" width="170px"></div>
	<h3 class="section-heading">Monetize models</h3>
        <div class="lead">In the data-model marketplace, data scientists can monetize their machine learning models,
          training them on interesting datasets and challenging problems.
	  <br /> <br />
	Fitchain makes model sharing easy for the data scientist who wants to monetize her models easily and quickly.</div>
      </div>
      <!--
      <div class="col-lg-6 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="img/services/{{ post.img }}" alt="">
      </div>
      -->

      <div class="col-lg-6 col-sm-6">
        <!-- <hr class="section-heading-spacer">
             <div class="clearfix"></div>-->

	<div class="illustration"> <img src="/img/model-blockchain.svg" width="170px"></div>
        <h3 class="section-heading">Proof-of-train</h3>
        <div class="lead">Models that are executed out of the data scientist's control need to be validated and verified.
          Submitted code must be executed as is, and a security mechanism must guarantee that it is not tampering with
          local infrastructure.
	  <br /> <br />
	  Fitchain guarantees code execution transparency and model validation with state of the art blockchain technology
    (proof-of-train)
	  </div>
      </div>
      <!--
      <div class="col-lg-6 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="img/services/{{ post.img }}" alt="">
      </div>
      -->

    </div>
  </div>
</section>



<section id="vision" class="container content-section text-center">
  <div class="row" style="margin-top:42px; margin-bottom:42px;">
     <div class="col-lg-8 col-lg-offset-2">
      <h2> Data Science with a mission </h2>
	  <p>With fitchain, organisations can unlock the value of their data instantly, connecting them to a global pool of data scientists 
		  to effectively work on a solution and train their models. 
		  No confidential information will ever leave the organisation, who can keep their industrial secrets while experiencing the benefits of predictive 
		  analytics.
	  </p>
       <p>
	  		With a team of experts in AI and blockchain technology, fitchain allows highly regulated environments like healthcare&amp;pharma, 
			R&amp;D and banking to take advantage of machine learning, without giving up confidentiality.
	   </p>
	 	<img src="img/fc_worldmap.svg" width="100%">
    	<!-- <button type="submit" class="btn btn-success btn-lg">LEARN ABOUT OUR MISSION</button> -->
   

</section>




<section id="technology" class="container content-section text-center">
     <div class="row" style="margin-top:42px; margin-bottom:72px;">
	     <div class="row" style="margin-bottom:42px;">
	        <div class="col-lg-8 col-lg-offset-2">
				 <h2> Our Technology </h2>
			</div>
			</div>
			
       <div class="col-lg-12">
         <div class="col-lg-6 col-sm-6">
		  
    <!-- <h2> Our Technology </h2> -->
    <div class="col-lg-12">
      <p>
				We support the most flexible and powerful machine learning libraries to allow data scientists 
				write their models in the language they are most comfortable with. We developed our protocol on top of Ethereum and BigchainDB for 
				public and federated blockchains. The fitchain pod is an enterprise-ready, robust and adaptable component for automated 
				machine learning model execution. Using the fitchain infrastructure, our partners are enabled to easily build secure environments 
				for new and powerful machine learning models to be trained.
	  	</p>
		<br /><br />
		<button type="submit" class="btn btn-success btn-lg" disabled>ABOUT OUR TECHNOLOGY <br />(Technical primer coming soon)</button>
		
		</div>
		</div>
		
		<div class="col-lg-6 col-sm-6">
       	<div class="illustration1"> 
			<img src="/img/fc_technology.svg" width="450px">	
		</div> 
		<!-- <button type="submit" class="btn btn-success btn-lg">ABOUT OUR TECHNOLOGY</button> -->
		</div> 
   </div>   
    </div>
  </div>
</section>





<section id="usecases" class="container content-section text-center">
  <div class="row" style="margin-top:42px; margin-bottom:42px;">
    <h2> Fitchain is useful to many </h2>
    <div class="col-lg-12" style="margin-top:42px">
      <div class="col-lg-4 col-sm-6">
       	<div class="illustration"> <img src="/img/usecase-banking.svg" width="170px"></div>
        <h3 class="section-heading">Banking Services</h3>
        <!-- <div class="lead"> -->
		<p>
			Banks and financial institutions are highly regulated
          environments in which maintaining ownership of the data to be analysed
          is essential to the business
	</p>
      </div>

      <div class="col-lg-4 col-sm-6">
       	<div class="illustration"> <img src="/img/usecase-healthcare.svg" width="170px"></div>
        <h3 class="section-heading">Healthcare Providers</h3>
        <p>In healthcare and pharma, data analytics is more and more a
          prominent activity. In such domains, data is one of the most important
          assets, carrying industrial secrets and sensitive information
		</p>
      </div>

      <div class="col-lg-4 col-sm-6">
       	<div class="illustration"> <img src="/img/usecase-researchers.svg" width="170px"></div>
        <h3 class="section-heading">Researchers</h3>
        <p>Data scientists are constantly in search of fresh data to
          train and improve experimental models. Often such data is not available if
          not in de-identified or encrypted form
	</p>
      </div>
    </div>
  </div>
</section>



<!-- 
<section id="services">

{% for post in site.posts reversed %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %}
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/services/{{ post.img }}" alt="">
                </div>
            </div>

        </div>


    </div>

    {% else %}

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/services/{{ post.img }}" alt="">
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endfor %}
</section>
-->
